Repository HYF-Class20/agile-development-group4-loruki, pull requests merged in 2023-04, with the labels that each got.

#7 Update lint-and-validate.yml
  .github/workflows/lint-and-validate.yml
Labels: bug

#17 planning : design.md : edit
  planning/assets/docs.jpg
  planning/assets/features.jpg
  planning/assets/home.jpg
  planning/design.md
Labels: planning, wireframe, planning-design

#19 I fixed the backlog. Added user stories. Now there are must, should a…
  planning/backlog.md
Labels: user stories, backlog

#1 Update constraints.md
  planning/constraints.md
Labels: documentation, planning
